.Diteales 
{
    text-align: center;
    margin: 50px 0px;
    width: 100%;
}
.Diteales .Title 
{
    margin: 10px 0px;
}
.Diteales .Discrition
{
    width: 810px;
    margin: 10px auto 40px auto;
    font-size: 20px;
    font-weight: 300;
}
.Diteales .fatherOf
{
    width: 100;
    overflow-x: scroll;
}
.Diteales .fatherOf::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.Diteales .fatherOf::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
.Diteales .fatherOf::-webkit-scrollbar-thumb {
  background: linear-gradient(to left , #0459a5, #563d7c);
  border-radius: 10px;
}
.Diteales .Cards
{
    padding: 20px 40px;
    width: max-content;
    background-color: rgba(243, 243, 243, 0.678);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Diteales .Cards a 
{
    text-decoration: none;
}
.Diteales .Cards .Card
{
    width: 430px;
    margin: 10px 20px 30px 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px .6px rgb(182, 181, 181);  
    transition: .4s;
}
.Diteales .Cards .Card:hover
{
    box-shadow: 0px 0px 8px .6px #563d7cea;
    cursor: pointer;
    transform: scale(1.025);
    transition: .4s;
}
.Diteales .Cards .Card img
{
    width: 100%;
    height: 200px;
    border-radius: 8px;
}
.Diteales .Cards .Card h3
{
    background-color: #563d7c;
    width: max-content;
    padding: 5px 12px;
    margin: 10px auto;
    border-radius: 20px;
    color: #fff;
}

.Diteales .Cards .Card span
{
    color: #eba000;
    font-weight: 600;
    padding-top: 10px;
}

.Diteales .Cards .Card p
{
    font-weight: 400;
    margin-top: 10px;
    color: #000;
} 
   

@media (max-width: 992px)
{
    .Diteales .Discrition
    {
        width: 500px;
        font-size: 16px;
    }
}

@media (max-width: 600px)
{
    .Diteales .Title 
    {
        font-size: 18px;
    }
    .Diteales .Discrition
    {
        width: 325px;
        font-size: 12px;
    }
    .Diteales .Cards
    {
        padding: 20px 10px;
    }
    .Diteales .Cards .Card
    {
        width: 300px;
        margin: 10px 10px 30px 10px;
    }
}