.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
      background-color: #563d7c;
    box-shadow: 0 .5rem 1rem rgb(0 0 0 / .05), inset 0 -1px 0 rgb(0 0 0 / .1);
    height: 80px;
    
    
}
.navbar-links ul{
    display: flex;
    list-style: none;   
   
}

.navbar-links ul li 
{
    margin: 0 15px;
   
}
.navbar-links ul li a
{
   text-decoration: none;
   color: white;
}

.navbar-search-section .search-input {
border-radius: 25px;


}